<%- include ("./partials/cabecera") %> 
<%- include ("./partials/navbar") %> 

<%- include("./partials/carrusel")%>

<h1>Bienvenidos a la Biblioteca</h1>
<p>aqui encontrará la mejor colección de libros de cualquier libreria del mundo mundial</p>
    
<br><br><br><br><br><br>



<%- include("./partials/footer")%>
<%- include ("./partials/pie") %> 